html {
    background: url(../images/background.jpg) no-repeat center center fixed;
}
.prof-box{
    width: 450px;
    height: 450px;
    background-color: rgba(0,0,0,0.8);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    
}
.prof-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 50;

}
h1{
    font-weight: 100;
    letter-spacing: 6;
    font: size 40px;

}
p{
    font-weight: 100;
    letter: spacing 1px; ;

}
.line-break{
    width: 140px;
    margin:0 auto;
    border-top: 1px solid white;
}
.social-icons{
    font-size: 30px;
}
.social-icons a {
    color:white;
}
.social-icons a:hover {
    color: orange;
}